version: "3.9"

services:
  backend:
    build: .
    container_name: ai_health_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/data:/app/backend/data
    restart: unless-stopped
