# FastAPI backend
fastapi
uvicorn
pydantic
pydantic[email]

# Authentication / Security
passlib[bcrypt]
bcrypt<4.0
python-jose

# File handling / PDF / OCR
python-multipart
pymupdf
pdf2image
pillow
pytesseract

# Task scheduling
schedule

# YouTube transcripts
youtube-transcript-api

# LLM & embeddings
langchain>=1.2.0
langchain-community
langchain-huggingface
openai

# HuggingFace transformers & models
transformers
torch
sentencepiece
sentence-transformers
accelerate
