fastapi
uvicorn
pydantic
langchain
openai
python-multipart
pymupdf
schedule
youtube-transcript-api
pillow
pytesseract
transformers
torch
sentencepiece
passlib[bcrypt]
bcrypt<4.0
python-jose
langchain-community
sentence-transformers
pydantic[email]
pdf2image
accelerate