# FastAPI backend
fastapi
uvicorn
pydantic
pydantic[email]
python-dotenv

# Authentication / Security
passlib[bcrypt]
bcrypt<4.0
python-jose

# File handling / PDF / OCR
python-multipart
pymupdf
pdf2image
pillow
pytesseract

# Task scheduling
schedule

# YouTube transcripts
youtube-transcript-api

# LLM & embeddings
langchain==0.2.1
langchain-community==0.2.1
langchain-text-splitters==0.2.1
langchain-huggingface==0.0.3
openai
faiss-cpu

# HuggingFace transformers & models
transformers
torch
sentencepiece
sentence-transformers
accelerate
